<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>报错页面</title>
	<link href="__PUBLIC__/Admin/css/error.css" rel="stylesheet" type="text/css" />
	<script src="__PUBLIC__/Admin/js/jquery.min.js"></script>
	<link  rel="stylesheet" href="__PUBLIC__/Admin/css/bootstrap.min.css">
</head>
<body>
<div id="container"><img class="png" src="__PUBLIC__/Admin/images/404.png" /> 
<h4>很抱歉,您所访问的页面不存在！</h4>
  <a href="JavaScript:history.go(-1)" class="btn btn-default">返回上一步</a>
</div>
</body>
</html>